<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="static/css/style_china.css" type="text/css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  
    <!-- Leaflet CSS & JS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Moment Javascript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
      
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

  </head>
  <body>

    <!-- The div where we will inject our map -->
    <div class='container'>
        <br>
    <!-- *********************FIRST ROW*********************************   -->
        <div class="row">
          <div class= "col-12">
            <div class="card" style="width: 100%">
              <div class="card-body">
                <div class="jumbotron text-center">
                  <h1>Coronavirus Facts and News</h1>
                  <p><i><div class="slidecontainer">
                    <input type="range" min="1" max='42' steps="1" value="1" class="slider" id="date_slider">
                    <br><output></output>
                  </div></i></p>         
                  <p><a class="btn btn-primary btn-lg" href="/" role="button">World</a>
                    <a class="btn btn-primary btn-lg" href="/china" role="button">China</a>
                    <!-- <a class="btn btn-primary btn-lg" href="/slider" role="button">Slider</a> -->
                    <!-- <a class="btn btn-primary btn-lg" href="/news" role="button">news</a></p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
    <!-- *********************FOURTH ROW - NEWS*********************************   -->
        <!-- ############################################ -->
        <!-- ########## NEWS GOES HERE ################### -->
        <!-- ############################################ -->

        <div class="row">
          <div class="col-lg-4 col-sm-12">
            <div class="card" style="width: 100%">
              <div class="card-header">
                <h3 style="text-align: center">Corona Facts</h3>
                <p style="text-align: right">from CNN <a href="www.cnn.com">www.cnn.com</a></p>
                <input id="fact-toggle" type="checkbox" checked data-toggle="toggle" data-on="Show all facts" data-off="Show facts for Date" 
                      data-size="small" data-onstyle="primary" data-offstyle="success" data_width=100>
              </div>
              <br>
              <div class="card-body">
                <div id="cnn_facts"></div>
              </div>
            </div>
          </div>
          <div class= "col-lg-8 col-sm-12">
            <div class="card" style="width: 100%">
              <!-- The banner message is modified by the newsrender.js based on the date / news source selection -->
              <div class="card-header">
                <div id="news-banner">
                  <h3 class="text-left">Corona News of the Day</h3>
                </div>
              </div>
              <!-- Selector for a news source.  newsrender.js listens for on change event-->
              <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Select a News Source</label>
                </div>
                <!-- Will update newsrender.js to set these options automatically. but this demos for now-->
                <select class="custom-select" id="news_source">
                  <option selected>Choose...</option>
                  <option value="bbc-news">BBC News</option>
                  <option value="newsweek">Newsweek</option>
                  <option value="the-washington-post">The Washington Post</option>
                  <option value="the-wall-street-journal">The Wall Street Journal</option>
                  <option value="al-jazeera-english">Al Jazeera English</option>
                  <option value="medical-news-today">Medical News Today</option>
                </select>
              </div>
              
              <!-- Selector for date.  newsrender.js listens for on change event -->
              <!-- when time slider is integrated, we can hide this and update newsrender.js to listen for change in date in timeslider-->
              <div class="input-group mb-1">
                <div class="input-group-append">
                  <label class="input-group-text" for="inputGroupSelect02">Select a Date</label>
                </div>
                <!-- Will update newsrender.js to set these options automatically. but this demos for now-->
                <select class="custom-select" id="corona-date">
                  <option selected>Choose...</option>
                  <option value="2020-02-27">2020-02-27</option>
                  <option value="2020-02-26">2020-02-26</option>
                  <option value="2020-02-25">2020-02-25</option>
                  <option value="2020-02-24">2020-02-24</option>
                  <div role="separator" class="dropdown-divider"></div>
                  <option value="2020-01-25">2020-01-25</option>
                  <option value="2020-01-24">2020-01-24</option>
                </select>
              </div>

              <!-- newsrender.js now automatically fils the table header and table body -->
              <!-- table body is filled based on date and news source selections -->
              <div class="card-body">
                <table id="news-table" class="table table-striped">
                  <thead id="news-header">
                      <tr>
                          <th class="table-head">Date</th>
                          <th scope="col" class="table-head">Source</th>
                          <th scope="col" class="table-head">Headline</th>
                          <th scope="col" class="table-head">Image</th>
                      </tr>
                  </thead>
                  <tbody id="news-body"></tbody>
                </table>
              </div>
            </div> 
          </div>
        <br>
      </div>
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="static/js/config.js"></script>
    <script type="text/javascript" src="static/js/world_bar.js"></script>
    <script type="text/javascript" src="static/js/world.js"></script>
    <script type="text/javascript" src="static/js/slider_world.js"></script>
    <script type="text/javascript" src="static/js/newsrender.js"></script>
    <script type="text/javascript" src="static/js/cnnData.js"></script>

  </body>
</html>
